{{!< default}}

<aside role="banner" class="cover">
  <div {{#if @blog.cover}}data-load-image="{{@blog.cover}}"{{/if}} class="cover-image"></div>
  <div class="cover-container">
    {{#if @blog.logo}}
      <a href="{{@blog.url}}" class="cover-logo" data-pjax>
        <img src="{{@blog.logo}}" alt="Blog Logo">
      </a>
    {{/if}}
    <h1 class="cover-title">{{@blog.title}}</h1>
    <p class="cover-description">{{@blog.description}}</p>
  </div>
</aside>

<section class="wrapper" tabindex="0">
  <div class="wrapper-container">
    {{> custom/featured this}}

    <section class="post-list">
      {{#foreach posts}}
        {{> post/list this}}
      {{/foreach}}
    </section>

    {{#if pagination}}
      {{pagination}}
    {{/if}}

    {{> footer this}}
  </div>
</section>

    <script type="text/javascript">
      {{> custom/config}}

      (function(g,h,o,s,t,z){g.GoogleAnalyticsObject=s;g[s]||(g[s]=
      function(){(g[s].q=g[s].q||[]).push(arguments)});g[s].s=+new Date;
      t=h.createElement(o);z=h.getElementsByTagName(o)[0];
      t.src='//www.google-analytics.com/analytics.js';
      z.parentNode.insertBefore(t,z)}(window,document,'script','ga'));
      ga('create',ga_ua);ga('send','pageview');

      (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
